.qr {
  display: block;
  margin: 0 auto;

  &_image {
    display: block;
    margin: 0 auto;
    width: 70vw;
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $button-color;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5rem;
    color: $color-black;
    border: transparent;
    width: 70vw;

    margin: 2rem;

    max-width: 280px;

    &_icon {
      width: 7vw;
      margin: 0.7rem;
      max-width: 40px;
    }
  }
}
