.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $button-color;
  border-width: 0.2rem;
  border-radius: 5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: $color-black;

  margin: 2rem;

  min-width: 250px;
  max-width: 500px;

  text-decoration: none;
  font-size: 1.5rem;

  &_icon {
    width: 7vw;
    margin: 0.7rem;
    max-width: 40px;
  }
}
